<div fxLayout="row" fxLayoutAlign="center center">
    <div class="calcul">
        <div class="title">Calculator</div>

        <mat-form-field class="expression-field" appearance="fill">
            <mat-label>Insert arithmetic expression</mat-label>
            <input 
                #expression 
                matInput 
                placeholder="Ex. 32+5*12"
                (keyup.enter)="calculate(expression.value)"
            />
        </mat-form-field>   

        <div class="buttons">
            <button 
                mat-raised-button 
                color="primary" 
                (click)="calculate(expression.value)"
            >
                Calculate
            </button>
        </div>

        <div class="result" *ngIf="result">
            The result: {{ result }}
        </div>
    </div>

    <calculation-history></calculation-history>
</div>