.title {
    font-size: 24px;
    font-weight: 400;
    padding: 16px 0;
}

.result {
    font-size: 22px;
    font-weight: 400;
    padding: 16px 0;
}

.expression-field {
    width: 300px;
}

.buttons {
    text-align: right;
}

calculation-history {
    width: 300px;
    margin-left: 20px;
    max-height: 30vh;
}