<div class="contact-info">
    <p class="name">Raul Apascaritei</p>
    <p class="email">apascariteiraul@gmail.com</p>
</div>

<div class="buttons">
    <button 
        class="calculator"
        mat-stroked-button 
        [routerLink]="'calculator'"
    >
        Calculator
    </button>
</div>