.contact-info {
    text-align: center;

    .name {
        font-size: 20px;
        font-weight: 600;
    }

    .email {
        font-size: 18px;
    }
}

.buttons {
    text-align: center;

    .calculator {
        font-size: 18px;
        padding: 8px;
        width: 100%;
    }
}