<div class="history">
    <div class="title">History</div>

    <div class="calculations" *ngIf="calculationsHistory.length">
        <p *ngFor="let calculation of calculationsHistory">
            {{ calculation }}
        </p>
    </div>

    <div *ngIf="!calculationsHistory || calculationsHistory.length === 0">
        You don't have a history yet.
    </div>
</div>